assemblies/
trimmed/
.snakemake/
reports/raw
reports/trim
trash/
reports/QUAST_test/
reports/QUASTcontigs_finalTest/
quast/busco*
metaAndconfig/bestN50/
reports/BUSCO/
reports/QUASTcontigs/
RagTag/
reports/BUSCO_contigs/
reports/BUSCO_RagTag_scaffolds/
reports/QUAST_RAGTAG/
pipelinePT2/
reports/QUAST_contigs/
